html {
    font-feature-settings: normal;
    font-variation-settings: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    display: block;
}

body {
    margin: 0;
    line-height: inherit;
    display: block;
    background-color: #F3F4F6;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto;
    -ms-overflow-style: none;
    scrollbar-width: thin;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg, textarea {
    vertical-align: middle;
}
